body{
    font-family: 'Montserrat', sans-serif;
    max-width: 1366px;
    margin: auto;

    background-color: #2d276d;
}
body h1{
    font-weight: 800;

    color: aliceblue;
    text-align: center;
}

.encabezado{
    background-color: black;
    
}
#pokedex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;

    padding: 2%;

    background-color: #e1e0e8;
}
#pokedex li{
    list-style: none;
    background-color:  #feda00;

    padding: 10px;
    text-align: center;

    transition: color 0.3s, background-color 0.3s
}
#pokedex li a{
    text-decoration: none;
    color: #010f16;
    font-weight: 800;
}
#pokedex li:hover{
    background-color: #ffab00;
}


#detalle-pokemon{
    margin-left: 150px;
    margin-right: 150px;

    display: grid;
    align-items: center;
}