body{
    font-family: 'Montserrat', sans-serif;
}

.encabezado{
    margin: 0;
    margin-left: 150px;
    margin-right: 150px;
}

#pokedex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    background-color: #FBFBFB;
    color: #333333;
}

#pokedex li{
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}